@charset "utf-8";
@font-face {
    font-family: 'HL';
    src: url('fonts/helveticaneuecyr/helveticaneuecyr-light.otf');
}
@font-face {
    font-family: "Code-Light";
    src: url('fonts/CodeLight/CODE_Light.otf');
}
@font-face {
    font-family: "BebasLight";
    src: url("fonts/Bebas/BebasNeue%20Light.otf") format("otf"),
    url("fonts/Bebas/BebasNeue%20Light.ttf") format("truetype");
}
@font-face {
    font-family: "BebasRegular";
    src: url("fonts/Bebas/BebasNeue%20Regular.otf") format("otf"),
    url("fonts/Bebas/BebasNeue%20Regular.ttf") format("truetype");
}
@font-face {
    font-family: "BebasBook";
    src: url("fonts/Bebas/BebasNeue%20Book.otf") format("otf"),
    url("fonts/Bebas/BebasNeue%20Book.ttf") format("truetype");
}
ul{
    list-style: none;
}
body {
    font-family: "HL",'sans-serif';
    font-size: 14px;
    color: #607a93;
    background: url("../images/img-noise-361x370.png") repeat #101e2c;
}
header img{
    margin: 0 auto;
}
header span{
    display: block;
    position: absolute;
    right: 0;
}
.row{
    padding-top: 20px;
}
.nav{
    font-family: 'BebasLight', sans-serif;
    background-color: transparent !important;
    border-bottom: 1px solid rgba(96,122, 147, 0.4) !important;
    border-radius: 0px !important;
}
.nav .active{
    font-weight: bold;
    color: #a39065 !important;
    -webkit-box-shadow: inset 0px -2px 0px 0px #a39065;
    box-shadow: inset 0px -2px 0px 0px #a39065;
}
.header *{
    overflow-x:hidden;
    overflow-y: hidden !important;
}
.navbar{
    margin-bottom: 0px;
}
ul.nav{
    float: right;
    text-transform: uppercase;
    font-size: 1.5em;
    margin: 0 auto;
    display: block;
}
@media (max-width: 768px) {
    ul.nav {
        border-top: none !important;
        float: left;
    }
}
.pagination-wrapper{
    display: block;
    margin: 0 auto;
}
ul.pagination>li{
    font-size: 1.5em;
    text-align: center;
    width: 30px;
    height: 30px;
    border: 1px solid #a39065;
    border-radius: 2px;
}
ul.pagination>li.active a{
    color: #a39065;
}
.navbar-brand{
    margin-left: 0 !important;
    margin-right: 20px !important;
    padding-top: 10px;
    width: 280px;
}
@media (max-width: 500px) {
    .navbar-brand {
        width: 100%;
        height: 100%;
    }
}
.navbar-nav>li{
    -webkit-transition: box-shadow 0.5s ease-in-out;
    -moz-transition: box-shadow 0.5s ease-in-out;
    -ms-transition: box-shadow 0.5s ease-in-out;
    -o-transition: box-shadow 0.5s ease-in-out;
    transition: box-shadow 0.2s ease-in-out;
}
.navbar-nav>li:hover{
    -webkit-box-shadow: inset 0px -8px 0px 0px #a39065;
    box-shadow: inset 0px -8px 0px 0px #a39065;
}

.navbar-nav>li>a:hover{
    color: #a39065 !important;
}
.navbar-nav>li>a{
    padding-top: 20px;
    padding-bottom: 20px;
}

/** Footer Start**/
footer{
    font-family: 'BebasRegular', sans-serif;
    text-align: center;
    margin-top: 20px;
    height: 310px;
}
footer i:hover{
    color: #a39065;
    cursor: pointer;
}
footer i{
    padding: 4px;
}
footer #logo-wrapper{
    margin: 20px auto;
    width: 350px;
}
footer .social{
    margin: 20px auto;
    width: 200px;
}
footer .social a{
    color: #607a93;
    vertical-align: middle;
    text-align: center;
    display: table-cell;
    width: 50px;
    height: 50px;
    border: 2px solid #607a93;
    border-radius: 50%;
}
footer .social a:hover{
    border: 2px solid #a39065;
}
@media (max-width: 500px) {
    footer #logo-wrapper {
        width: auto;
    }
}
@media (max-width: 500px) {
    footer #logo-wrapper {
        width: auto;
    }
}
/** End Footer **/
div.reasons-wrapper{
    text-align: center;
    opacity: 0;
    position: relative;
    left: -999px;
}
div.last-works-container{
    text-align: center;
    opacity: 0;
    position: relative;
    left: 999px;
}
div.reasons{
    padding: 2.7em 0;
    font-size: 2em;
    text-align: center;
    color: #a39065;
    -webkit-box-shadow: inset 0 0 0 15px #a39065;
    box-shadow: inset 0 0 0 15px #a39065;
    margin: 0 auto;
    min-width: 300px !important;
    max-width: 300px !important;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}
div.last-works-wrapper{
    width: 100%;
    float: left;
}
div.services-wrapper{
    opacity: 0;
    position: relative;
    left: 999px;
}

.services-container{
    padding: auto;
    position: relative;
    overflow: hidden;
    min-height: 205px !important;
    margin-bottom: 20px;
}
.services-title{
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    -ms-transition: background .3s ease-in-out;
    -o-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
    font-family: "BebasLight", sans-serif;
    background-color: rgba(0,0,0,0.5);
    font-size: 2em;
    text-align: center;
    width: 100%;
    display: block;
    color: #fff;
    text-transform: uppercase;
    position: absolute;
    top: 0;
    left: 0;
}
.services-container:hover .services-title{
    background-color: rgba(0,0,0,0.8);
}
div.input-info form{
    width: 100%;
}
div.input-info, div.message{
    width:100%;
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    flex-wrap: wrap;
}
div.input-info input{
    width: 230px;
    margin-bottom: 10px;
}
div.message textarea{
    width: 100%;
    border-radius: 4px;
    padding: 10px;
}
.form-wrapper button{
    margin-top: 10px;
    width: 100px;
}
.sign-in{
    max-width: 400px;
    margin: 0 auto;
}
/**/
.main-title{
    font-family: 'BebasLight', sans-serif;
    color: #a39065;
    font-size: 3em;
    text-align: center;
    text-transform: uppercase;
}
.title-block{
    text-align: center;
    width: 100%;
    border-bottom: 1px solid rgba(96,122, 147, 0.4) !important;
    border-top: 1px solid rgba(96,122, 147, 0.4) !important;
    margin-bottom: 20px;
}
h1.text-danger{
    color: crimson !important;
}
/**/
a{
    text-decoration: none;
    color: #eeeeee;
}
a:hover{
    color: #a39065;
    text-decoration: none;
}
.pagination .active{
    color: #a39065 !important;
}

.button{
    text-align: center;
    width: 150px;
    clear: both;
}

.gallery_pre{
    width: 100px;
}
div .input{
    overflow:hidden;
    width:95px;
    height:37px;
    cursor:pointer;
}
input .images{
    opacity:0;
    filter:alpha(opacity:0);
    font-size:199px;
    cursor:pointer;
    padding:0px;
    margin:0px;
    border:none;
    margin-left:-450px;
}
.cat-gallery{
    opacity: 0;
    left: -999px;
}
.cat-gallery select{
    border-color: #a39065;
    background-color: #101e2c !important;
    width: auto;
    color: #eeeeee;
}
.main-gallery{
    opacity: 0;
    left: 999px;
}
.gallery-categories-wrapper{
    font-family: 'BebasLight', sans-serif;
    font-size: 1.5em;
    display: block;
}
.gallery-categories-wrapper a{
    -webkit-transition: color .3s ease-in-out;
    -moz-transition: color .3s ease-in-out;
    -ms-transition: color .3s ease-in-out;
    -o-transition: color .3s ease-in-out;
    transition: color .3s ease-in-out;
}
.gallery-categories-wrapper a.active{
    font-weight: bold;
    color: #a39065;
}
.gallery_cat div{
    padding: 5px;
    width: 150px;
    -webkit-box-shadow: 5px 5px 5px 2px rgba(0,0,0,0.2);
    box-shadow: 5px 5px 5px 2px rgba(0,0,0,0.2);
    margin: 15px;
    height: 65px;
    display: block;
}
.gallery_image_wrapper{
    min-height: 300px !important;
    max-height: 300px !important;
    overflow: hidden;
    -webkit-transition: box-shadow 0.2s ease-in-out;
    -moz-transition: box-shadow 0.2s ease-in-out;
    -ms-transition: box-shadow 0.2s ease-in-out;
    -o-transition: box-shadow 0.2s ease-in-out;
    transition: box-shadow 0.2s ease-in-out;
}
.gallery_items{
    margin-bottom: 20px;
}
.gallery_items img{
    margin: 0 auto;
}
.last-works{
    margin: 0 auto;
    max-width: 300px;
    min-height: 300px;
    -webkit-transition: color .5s ease-in-out;
    -moz-transition: color .5s ease-in-out;
    -ms-transition: color .5s ease-in-out;
    -o-transition: color .5s ease-in-out;
    transition: color .5s ease-in-out;
}
.img_main_pre{
    min-height: 300px;
    text-align: center;
    margin: 0 auto;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    overflow: hidden;
    -webkit-transition: box-shadow 0.5s ease-in-out;
    -moz-transition: box-shadow 0.5s ease-in-out;
    -ms-transition: box-shadow 0.5s ease-in-out;
    -o-transition: box-shadow 0.5s ease-in-out;
    transition: box-shadow 0.2s ease-in-out;
}
.img_main_pre img{
    height: 300px;
}
.img_main_pre img, .gallery_image_wrapper img{
    position: relative;
    z-index: -1;
}
.img-search{
    position: absolute;
    top:50%;
    left:50%;
    margin: -40px 0 0 -10px;
    opacity: 0;
}
.img_main_pre:hover, .gallery_image_wrapper:hover {
    cursor: pointer;
    -webkit-box-shadow: inset 0 0 0 15px #a39065;
    box-shadow: inset 0 0 0 15px #a39065;
    background-color: rgba(96,122, 147, 0.4);
    color: #a39065;
}
.img_main_pre:hover .img-search{
    opacity: 1;
}
.pagination li{
    display: block;
    float: left;
    margin: 3px;
    font-size: 15px;
}

/* Button */
.button {
    background: none;
    border: none;
    outline: none;
}

.button:before {
    top: 0;
    left: 0;
}

.button:after {
    bottom: 0;
    right: 0;
}

.button:before, .button:after {
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    background: #a18964;
    z-index: -1;
}

.button {
    position: relative;
    display: inline-block;
    margin-bottom: 0;
    font: bold 17px/20px 'BebasLight', sans-serif;
    color: #617c95;
    text-transform: uppercase;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border: none;
    background: none;
    z-index: 3;
    padding: 17px 12px;
    font-size: 25px;
    line-height: 28px;
}

.button:hover {
    color: #a18964;
}
.button:hover:before {
    left: -10px;
}

.button:hover:after {
    right: -10px;
}

.button:hover:before, .button:hover:after {
    width: 3px;
    height: 100%;
}
/* End Button */
/* Admin */
div.admin-header{
    width: 100%;
    float: left;
}
.admin-menu-list li{
    font-size: 1.5em;
}
div.admin-read-table-wrapper{
    width: 100%;
    float: left;
}
table{
    width: inherit;
    float: left;
    padding: 15px;
    font-size: 1em;
}
table tr, table td{
    padding: 10px;
}
table tr:hover{
    background-color: #617c95;
    color: #eeeeee;
}
/* End Admin */